[2021-03-04 00:50] dlorenc opened #2 "Meta: Project Governance and Structure?"
I was a little confused as to the basic details and governance of this project. I did some looking but wasn't able to find anything definitive:

- Is this part of the OCI or the CNCF?
  - I think the answer is the CNCF based on the slack and zoom and stuff.
- Is this part of the same CNCF "project" as Notary v1?
  - The Github org name (notaryproject) implies it is the same project, but that repo

[2021-03-04 00:50] dlorenc opened #55 "Meta: Project Governance and Structure?"
I was a little confused as to the basic details and governance of this project. I did some looking but wasn't able to find anything definitive:

- Is this part of the OCI or the CNCF?
  - I think the answer is the CNCF based on the slack and zoom and stuff.
- Is this part of the same CNCF "project" as Notary v1?
  - The Github org name (notaryproject) implies it is the same project, but that repo

[2021-03-18 18:12] justincormack commented on #55
Yeah sorry it is a bit confusing. This is CNCF, as part of Notary project, which is indeed separate from TUF but historicallt shares an org, although this org is its one, and we may move it here. We didnt specifically appoint v2 maintainers while in the spec and prototyping phase as it seemed premature, but we do need to formalise this.

[2021-03-18 18:56] dlorenc commented on #55
Thanks! Makes sense. I guess the only other question I have is on the proposed specs - will those be CNCF or OCI?

[2021-03-19 15:59] SteveLasker commented on #55
We do need to formalize the process. The Notary v2 specs and implementations are part of the CNCF. To support Notary v2 in registries, we're doing the persistence, discovery, and retrieval work under OCI. They are separate in definition, but useful together. Similar to other CNCF efforts that make use of runc, distribution-spec, image-spec or artifacts.

[2021-03-19 23:44] SteveLasker opened #3 "Prototype 1 Scope"
To support [Notary v2 requirements][notaryv2-requirements] for multiple signatures that don't change the artifact digest or tag, we must support new artifacts that link to existing artifacts.

## Goals & Intent

Experiment with storing linked artifacts in a registry, enabling the [reverse lookup pattern](https://github.com/notaryproject/requirements/blob/main/verification-by-reference.md).

The pr

[2021-03-19 23:44] SteveLasker opened #54 "Prototype 1 Scope"
To support [Notary v2 requirements][notaryv2-requirements] for multiple signatures that don't change the artifact digest or tag, we must support new artifacts that link to existing artifacts.

## Goals & Intent

Experiment with storing linked artifacts in a registry, enabling the [reverse lookup pattern](https://github.com/notaryproject/requirements/blob/main/verification-by-reference.md).

The pr

[2021-03-19 23:45] SteveLasker opened #4 "Prototype 2 Scope"
To support [Notary v2 requirements](https://github.com/notaryproject/requirements#goals) for multiple signatures that don't change the artifact digest or tag, we must support new artifacts that link to existing artifacts.

## Goals & Intent

With [Prototype-1]() complete, we must now harden the linked artifacts implementation with a spec and design that could be deployed for production validation.

[2021-03-19 23:45] SteveLasker opened #53 "Notary v2: Prototype 2 Scope"
To support [Notary v2 requirements](https://github.com/notaryproject/requirements#goals) for multiple signatures that don't change the artifact digest or tag, we must support new artifacts that link to existing artifacts.

## Goals & Intent

With [Prototype-1]() complete, we must now harden the linked artifacts implementation with a spec and design that could be deployed for production validation.

[2021-03-19 23:46] SteveLasker opened #5 "Prototype 3 Scope DRAFT"
With linked artifacts, including Notary v2 signatures and SBoMs persistence completed in Prototype 2, we must address tag locking and key management requirements. Prototype 3 will exist with an understanding of what we might do next but isn't expected to produce a solid spec. It will validate what it would take to sign tags and manage key, and/or signature lifecycle requirements.

## Goals & Inten

[2021-03-19 23:46] SteveLasker opened #52 "Prototype 3 Scope DRAFT"
With linked artifacts, including Notary v2 signatures and SBoMs persistence completed in Prototype 2, we must address tag locking and key management requirements. Prototype 3 will exist with an understanding of what we might do next but isn't expected to produce a solid spec. It will validate what it would take to sign tags and manage key, and/or signature lifecycle requirements.

## Goals & Inten

[2021-03-21 11:54] dlorenc commented on #53
What would the plan be for getting this upstreamed/accepted into the OCI distribution spec? This seems to jump ahead a bit from prototypes here to implementation by cloud providers.

Which signature format is this intended to use. I have some serious concerns with the existing one. I can't really find any of the discussion around its design, and it hasn't been touched in ~6 months. Could we includ

[2021-03-21 12:04] dlorenc commented on #54
The meetings notes say this phase is complete: https://hackmd.io/_vrqBGAOSUC_VWvFzWruZw?view#March-22-2021

I'm a little confused and trying to find the deliverables, the link above doesn't seem to have any prototype code in it.

Specifically, there's no diff when comparing the prototype-1 branch to the upstream repo: https://github.com/distribution/distribution/compare/main...notaryproject:protot

[2021-03-21 12:06] dlorenc commented on #52
This feels like strangely specific wording :) Did anyone suggest using short-lived keys that must be continually updated? How short qualifies as "short"?

[2021-03-21 13:40] dlorenc commented on #55
To make sure I'm clear: the "Notary v2 Signature" and "Notary v2 Payload" formats will be part of the Notary project in the CNCF, not part of the OCI? Are these the only two specs we imagine, or will there be more?

Is the intention for these to become "Standards" or remain "specifications"? https://github.com/cncf/toc/blob/main/PRINCIPLES.md#not-a-standards-body

What are the planned "implementat

[2021-03-21 15:19] dlorenc commented on #53
I just read through the demo script - I'm having trouble seeing how the commands and examples support the requirements and threat models... Is there a better place to provide feedback or ask questions? I'm having a hard time understanding a lot of this.

Apologies again if I missed something, I can't find any of the conversation that might have taken place on the PR itself before it was merged: ht

[2021-03-22 16:06] sudo-bmitch commented on #54
Corrected demo script link: https://github.com/notaryproject/nv2/blob/prototype-1/docs/nv2/demo-script.md

[2021-03-23 17:28] SteveLasker opened #9 "Prune NotaryProject Repos"
The Notary Project has a collection of repos, representing specs, status updates, and staging grounds for upstream projects. As we've evolved our thinking, this has sprawled and needs some pruning:

### Notary V2 Repos

These repositories are core to the Notary v2 effort:

- **[notaryproject](https://github.com/notaryproject/notaryproject)**
  Root project for the Notary Project, including the ove

[2021-03-23 17:28] SteveLasker opened #51 "Prune NotaryProject Repos"
The Notary Project has a collection of repos, representing specs, status updates, and staging grounds for upstream projects. As we've evolved our thinking, this has sprawled and needs some pruning:

### Notary V2 Repos

These repositories are core to the Notary v2 effort:

- **[notaryproject](https://github.com/notaryproject/notaryproject)**
  Root project for the Notary Project, including the ove

[2021-03-23 17:40] sajayantony commented on #53
@SteveLasker - I agree with @dlorenc - The prototype should call out that the this doesn't address the threat model issue like rollback and is aimed only at supporting storing artifacts and not its security aspects with the general direction or unifying with the prototype-3 which should address this problem.

[2021-03-23 17:53] dlorenc commented on #51
Thanks! This looks great.

[2021-03-23 22:14] sudo-bmitch commented on #51
LGTM

[2021-03-25 20:22] SteveLasker commented on #51
- [x] remove oras fork as work is happening directly in oras
- [x] remove docker-nv2 fork as we'll merge all binaries and libraries into nv2
- [x] remove docker-generate fork as we'll merge all binaries and libraries into nv2
- [x] remove distribution-spec fork as changes are happening directly in distribution-spec and artifacts-spec
- [ ] remove artifacts fork: not yet complete as there are [merg

[2021-03-26 13:03] dlorenc commented on #53
@sajayantony thanks, I agree. Clarifying exactly what threat model this prototype is intended to address would be useful. I'm still lost on the purpose of the self-signed certificate.

[2021-03-26 17:22] SteveLasker commented on #5
Moving to a discussion to capture the info, with closure on inactive issues.

[2021-03-26 21:01] SteveLasker opened #61 "Add OPA/Gatekeeper Validations"
As part of prototype-2, we'd like to validate the [e2e scenario](https://github.com/notaryproject/notaryproject/blob/main/scenarios.md) for validating a deployment based on the existence of a valid key, associated with the requested image to be deployed.

Based on the current [nv2 signature format](https://github.com/notaryproject/nv2/tree/prototype-1/docs/signature), we'll focus on:

1. Does the

[2021-03-26 21:07] SteveLasker commented on #4
Assigning to the backlog as I don't see us getting to this for a while.

[2021-03-26 21:33] SteveLasker opened #62 "containerd plug-in Validation"
**Note:** this is a containerd specific validation, that duplicates the [OPA/Gatekeeper validation](#61)

As part of prototype-2, we'd like to validate the [e2e scenario](https://github.com/notaryproject/notaryproject/blob/main/scenarios.md) for validating a deployment based on the existence of a valid key, associated with the requested image to be deployed.

Based on the current [nv2 signature fo

[2021-03-26 23:40] SteveLasker opened #63 "Design: Tag Signing"
We have a design around signing digest, which can be discovered through a tag.
However, we haven't yet designed a solution for tag signing.

- The discussion on #43 captures the background
- [Scenario 7 and 7.1](https://github.com/notaryproject/notaryproject/blob/main/scenarios.md#scenario-7-repository-compromise---non-signed-content) capture the goals

[2021-03-27 00:38] SteveLasker opened #64 "Add forwarding support"
We've had a few conversations around key and even signature revocations.

While we'll need to support "key revocations" scenarios, the signature revocations scenarios were interesting whether a signature should just be capable of being deleted, or do we need a revocation for a specific signature or artifact.

As users adopt content flow across registries, including consuming public content, it's p

[2021-03-27 00:40] SteveLasker opened #65 "Add repo descriptions"
Add content to the readme for what each repo is intended for

[2021-03-29 16:37] sudo-bmitch commented on #61
Trusting the `cname` field seems risky since anyone pushing a certificate can set this value to anything they want. Instead I think some kind of chain of trust makes more sense, where we look at the root/intermediate authorities that verified the signer.

[2021-03-29 17:57] SteveLasker commented on #61
I'm actually suggesting we're trusting the cert, which happens to have a cname that can be used to find where content from this cert can be found. Regardless of where it was currently stored.

Since this is simply an OPA/Gatekeeper validation, can I suggest we move the feedback to the Notary v2 signature design so we can capture the discussion on the signature, not the validation?

[2021-03-29 20:03] SteveLasker commented on #55
There are a number of parts to this end-to-end story for the integrity of content within a registry. We outlined the [Top Areas of Focus](https://github.com/notaryproject/notaryproject#top-areas-of-focus) in the project root and status updates.

For which efforts go into which project:

- The Notary v2 signature will be part of the CNCF Notary Project
- Registry Persistence, Discovery, and Retriev

[2021-03-30 01:43] sudo-bmitch commented on #63
I think this might be broken into two parts:

1. Signing the mapping between a tag and digest
2. Ensuring that signature is current

For 1, we may be able to piggyback on the digest signatures, adding the appropriate fields into the json blob. That can probably happen within [NV2 issue #39](https://github.com/notaryproject/nv2/issues/39). My though process is along the lines of a signature blob th

[2021-03-31 17:29] SteveLasker commented on #61
I've removed the cname validation for now. We can revisit as we make more progress on the core capabilities.

[2021-04-04 20:04] SteveLasker commented on #65
Updated:
- [notaryproject/artifacts](https://github.com/notaryproject/artifacts/commit/a585b59fe3004bcdf894b4503efc2d4366cc2b67)
- [notaryproject/distribution](https://github.com/notaryproject/distribution/commit/aa603a30233dc6e0d8873f4ff086334366e41fb5)

[2021-04-04 20:04] #65 closed, assigned to SteveLasker

[2021-04-04 20:05] SteveLasker commented on #51
Leaving the artifacts fork as it provides the validation of prototype-2, reference types.
As we converge on a prototype-3 plan, we can readdress.

[2021-04-04 20:05] #51 closed, assigned to SteveLasker

[2021-04-04 20:07] SteveLasker commented on #54
Closing as prototype-1 is complete, and prototype-2 hardens the learnings from prototype-1.

[2021-04-04 20:07] #54 closed, assigned to nobody

[2021-04-22 23:03] SteveLasker commented on #53
Mostly finished wtih prototype-2

- [x] [nv2 updates](https://github.com/notaryproject/nv2/pull/53) _pending PR review_
- [x] [CNCF Distribution support for reference types](https://github.com/notaryproject/distribution/tree/prototype-2)
- [x] [CNCF Distribution persistence docs](https://github.com/notaryproject/distribution/pull/9)  _pending PR review_
- [x] [ORAS Experimental Validation](https:/

[2021-05-12 20:09] SteveLasker opened #68 "Artifacts: RC1 (Reference Type Support)"
To support Notary v2 Signatures, and other supply chain artifacts like SBoMs which are associated with a target artifact, registries will need to support reference types.

## Timing

To support a **Fall 2021 release**, RC1 will be a time and quality based release, with the core capabilities supporting reference types. Additional capabilities will come online in RC2 and further releases.

## Scope

[2021-05-12 20:12] SteveLasker opened #69 "Artifacts: RC2 (Versioned Artifact Support)"
Artifacts RC2 will move to a more generic manifest, supporting a broader range of scenarios.

Artifacts RC2 will be the feature & quality release, compared to the timeline & quality [Artifacts RC 1](#68) release

[2021-05-12 20:19] SteveLasker opened #70 "Notary v2: RC1"
Notary V2 RC1 will be a time & quality-based release targeting the Fall of 2021.

Notary v2 RC1 will be dependent upon [Artifacts RC1 (Reference Type Support)](#68)

## Scope

The scope of RC1 is targeted to be complete by June 2021, providing time for a summer 2021 release and fall dependency for consumers.

[2021-05-12 20:20] SteveLasker opened #71 "Notary v2: RC2"
Notary v2: RC2 will be a Feature & Quality release, targeting Spring of 2022.

## Scope

The scope of RC2 will be defined post [RC1](#70)

[2021-05-13 17:14] iamsamirzon opened #72 "Key Management - Rescinding Certificates"
Created to get feedback on https://hackmd.io/2rc07WwHTdmPjpgoMbvYfA?view  from the NotaryV2 working group

[2021-06-25 15:22] mnm678 opened #77 "Request for formal governance documentation and additional maintainers"
As discussed in the 6/25 weekly meeting, there are a lot of unmerged prs sitting in this repository. To address this, it would be nice to have a more formal process for getting prs merged, such as approval from multiple maintainers. To this end, we need more than 2 people able to approve and merge prs.

[2021-06-25 15:22] mnm678 commented on #77
I would also like to put myself forward as a potential maintainer.

[2021-06-25 15:24] dlorenc commented on #77
I second @mnm678's nomination!

I'd also like to nominate @sudo-bmitch and myself (@dlorenc).

[2021-06-25 15:27] trishankatdatadog commented on #77
I second @mnm678 @dlorenc and @sudo-bmitch.

I'd like to nominate myself, too, as a representative for Datadog who has a clear interest in this moving forward.

[2021-06-25 15:33] dlorenc commented on #77
Ref https://github.com/notaryproject/notaryproject/issues/55

[2021-06-25 15:34] gokarnm commented on #77
I would like to nominate myself as a potential maintainer as a representative for AWS (@gokarnm). AWS has been involved in contributions to this project and is interested in moving this project forward.

[2021-06-25 15:35] trishankatdatadog commented on #77
As with Uptane, which has stakeholders from multiple orgs, I recommend that reviews gather approval from not just more than 2 maintainers, but maintainers from separate orgs.

[2021-06-25 15:35] lachie83 commented on #77
I will work on getting a GOVERNANCE.MD together taken from other projects in the CNCF.

[2021-06-25 15:37] sudo-bmitch commented on #77
For completeness, I'm happy to volunteer myself as a maintainer. (GitHub ID @sudo-bmitch)

[2021-06-25 15:40] anvega commented on #77
In addition to the great list of folks nominated thus far, I'd like to also submit @nishakm and @joshuagl for consideration. Should both of them be willing, I think both possess the ability to help maintain the project in an official capacity.

[2021-06-25 15:55] anvega commented on #77
A starting point might be to arrive at a proposed number of maintainer seats. The number chosen should account for what represents a healthy distribution of responsibility/load given the current and projected volume of project activity.  Typically, an odd number is highly desirable for dispute resolution.

A project that has gone through plenty of deliberation and refinement of its governance proc

[2021-06-25 16:00] lachie83 commented on #77
Please review #78. The idea was to start with a lightweight governance structure to establish who the maintainers are and the process to become a maintainer.  Once we get initial quorum of maintainers they can then choose to further build out the governance structure.

[2021-06-25 16:23] lachie83 commented on #77
These are a great set of docs. Thanks for sharing. In addition, I've also seen this format which has come from the some of the members of SIG Contributor experience https://github.com/openservicemesh/osm/blob/main/CONTRIBUTING_LADDER.md.

[2021-06-25 17:35] nishakm commented on #77
I'm in! Happy to volunteer as a maintainer :)

[2021-06-25 17:48] mnm678 commented on #70
We need to update this milestone. The Notary project requirements and threat model are still under active development, so I don't think it's possible to have a release of an implementation of these requirements before the end of the year at the earliest.

[2021-06-26 07:10] joshuagl commented on #77
I appreciate the nomination, I'd be very happy to help.

[2021-07-07 19:57] SteveLasker opened #81 "Key Management - Signature Expiry"
Tracking the iteration in https://hackmd.io/pT4IicsQRlGhR9szlrIUWQ, converting to a PR

[2021-07-07 20:03] SteveLasker opened #82 "Key Management - TSAs"
Tracking the iteration and conversion of https://hackmd.io/9mc_kvXoRc2GmjOnz0_eYA to PRs

[2021-07-07 20:06] SteveLasker opened #83 "Key Management - Trust Policy Management and Trust Store Updates"
Tracking https://hackmd.io/V55tsqsOQNmVYBFCr_DS5g for PR creation

[2021-07-07 20:19] SteveLasker opened #84 "Key Management - Signing Key Expiry"
Tracking https://hackmd.io/n82ZTBv3TK2Y4rujlnW3ng for conversion to a PR

[2021-07-07 20:27] SteveLasker opened #85 "Key Management - Rescinding Signature Validity"
Tracking https://hackmd.io/TnX8l31CQnGPRujZ_gLGJA, which may be a dupe of #72

[2021-07-09 15:05] sudo-bmitch commented on #72
This should probably be a PR on https://github.com/notaryproject/notaryproject/blob/main/key-revocation.md

[2021-07-09 15:10] SteveLasker opened #86 "Key Management: Signature Spec"
Converge https://hackmd.io/Vz_tGRvGTL6Spmdpv8QulA?view into a PR

[2021-07-14 08:44] shizhMSFT commented on #84
This should probably be a PR on https://github.com/notaryproject/notaryproject/blob/main/key-revocation.md

[2021-07-14 11:18] shizhMSFT commented on #72
Artifact-level signature rescidning can go to #88.

[2021-08-10 18:47] lachie83 commented on #77
@justincormack is working on this here https://github.com/theupdateframework/notary/pull/1606

[2021-08-10 18:48] lachie83 commented on #55
@justincormack is working on this via https://github.com/theupdateframework/notary/pull/1606

[2021-08-17 01:23] SteveLasker opened #95 "Key Discovery"
We've scoped Notary v2 to not support TOFU.
How will clients acquire the public keys for different registries or repos?

[2021-08-17 13:33] mnm678 commented on #95
Per the [TUF design](https://github.com/notaryproject/nv2/blob/prototype-tuf/tuf-design.md#design), if we can distribute root keys that do namespaced delegations for a registry or registries, we can reduce the number of keys that need to be distributed to end users. This reduced number of keys could be shared with client systems when they are provisioned using existing secret distribution methods,

[2021-09-07 16:50] SteveLasker opened #99 "Finalize the signature/envelop spec"
Tracking the finalization of #86 as an update to https://github.com/notaryproject/notation/blob/prototype-2/docs/signature/README.md

[2021-09-08 14:40] sudo-bmitch commented on #99
I believe this is also associated with #93

[2021-09-10 22:58] SteveLasker opened #101 "How to document notary project content"
Should we:
1. place documents within `/notation/docs/`, `/notation-go/docs`, `/tuf/docs/`, etc.
    - **pros**
      - devs can commit their code and docs in one pr
      - reviewers can review and commit the prs in one shot
      - permissions of the docs and code are consistent
    - **cons**
      - devs get blocked from merging their code, based on the content of the docs
      - git clone of

[2021-09-11 00:10] sudo-bmitch commented on #101
My preference is for option 1

pros:
- Code and doc changes are approved at the same time
- People that understand what is changing are more likely to be the ones making the doc changes

cons:
- May be more complicated to implement
- Cloning the docs repo only retrieves some common core components (unless we use git submodules which I'd recommend against for this)

A lot of the pros listed for opt

[2021-09-11 04:08] trishankatdatadog commented on #101
+1 for 1

[2021-09-12 22:37] iamsamirzon commented on #101
Are the doc writers and code contributors/approvers the same person/team? If yes, then option 1. If not, then option 2

[2021-09-13 14:34] mnm678 commented on #101
I agree that option 1 will have a better chance of keeping docs and code in sync.

[2021-09-14 00:05] sajayantony commented on #101
Dev docs especially (build/test) etc. living with the repo enables other developers to contribute faster.

However the set of docs for e2e scenarios and assets like images, that are specific to use cases, and websites, living in its own repository might enable the doc iteration to happen independently.

Both models exist - My preference is to keep image assets out of the cli/library repo from the

[2021-09-15 01:38] nate-double-u commented on #101
Hi I'm working on Notary Project docs and the [notaryproject.dev](https://notaryproject.dev) website on behalf of the CNCF 👋🏻

If system 1 (docs in multiple project repos) implies that there is also copy in the website repo, then it requires the duplication of content through automated (or worse, manual) means.
  * this automation needs to be set-up and maintained. This requires people willing to

[2021-09-15 14:33] nate-double-u commented on #101
We've setup the notaryproject.dev repo with a [.github/settings.yml file](https://github.com/notaryproject/notaryproject.dev/blob/main/.github/settings.yml), we can add subproject leads with a PR. Hopefully this simplifies the merge rights a bit. 🙂

[2021-09-15 16:26] SteveLasker commented on #101
I meant to add this to our weekly agenda for discussion. I'm hearing more hesitation about pushing content to sub `/doc/` folders than seems reflected here.
To get unblocked, I'll suggest we start getting docs into a `/docs/` subfolder in the sub-projects and let us discuss next week.
If anyone can point to other projects that have done it either way, with a process/toolset that would enable the "

[2021-09-21 23:10] nate-double-u commented on #101
Another advantage for combining the documentation into one site that I had forgot to mention:
* localization/translation is managed much more easily on a site setup for it (like Hugo/Docsy is), than in individual repos. This may be a long term consideration, but is worth planning for.

[2021-09-21 23:12] SteveLasker commented on #101
@nate-double-u, assuming you can make the call tomorrow, I've assigned closure of the topic to you :)
https://hackmd.io/_vrqBGAOSUC_VWvFzWruZw

[2021-09-22 15:44] nate-double-u commented on #101
Option 2 was selected during [today's community meeting](https://hackmd.io/_vrqBGAOSUC_VWvFzWruZw?both#Notes).

Documentation should be placed in the [projectnotary.dev repo](https://github.com/notaryproject/notaryproject.dev); however, since some sub-projects are still early in their initial development, links to those project's GitHub repo (`/docs` folder) can be provided until such a time as it

[2021-09-22 19:17] SteveLasker commented on #101
Closing per notes from @nate-double-u

[2021-09-22 19:17] #101 closed, assigned to nobody

[2021-09-28 01:16] SteveLasker commented on #53
House cleaning as prototype-2 has been complete for a while, and we're working on the [alpha1](https://github.com/notaryproject/notaryproject/milestone/9) release

[2021-09-28 01:16] #53 closed, assigned to nobody

[2021-10-12 01:01] SteveLasker opened #103 "Finalize annotations for the signature manifest"
We currently have the following to enable filtering on the different signatures:
[code]

This will need more details for how the key is identified for filtering.

[2021-10-13 14:46] iamsamirzon opened #104 "Should we create a new "roadmap" repository to communicate the roadmap"
There are different patterns used to communicate roadmaps. We need to decide how best to do this.

1.   Use a README.MD or ROADMAP.MD file inside the top level
       Pros : Simple to understand;
       Cons : After a while it becomes difficult to communicate fidelity in just a text document;
2.  Use a new repo, call it roadmap, and inside it use "Issues" to document and communicate roadmap items

[2021-10-14 20:49] priteshbandi opened #105 "Release Candidate Signature Format"
**Summary**
The final release candidate signature format. This may or may not be the same as the one in Alpha release.

Also as part of this issue we should also followup on open comments from PR #93
- [x] [We may want to allow the certificate chain to be transmitted via a secondary method (e.g. a separate blob from the envelope)](https://github.com/notaryproject/notaryproject/pull/93#discussion_r

[2021-10-15 00:49] priteshbandi opened #106 "Finalize reserved prefix for annotation keys to store notary specific metadata in signature envelope."
We need to finalize notary v2 reserved prefix for annotation keys to store notary specific metadata.
See https://github.com/notaryproject/notaryproject/pull/102

once we have finalized the prefix please update signature-specification.md > Payload section with following blurb.

[code]

Resources: https://github.com/opencontainers/image-spec/blob/main/annotations.md#rules

[2021-10-18 17:52] iamsamirzon opened #108 "release notaryproject-1.0.0-draft.1 as part of alpha-1 milestone"
Proposing we release notaryproject-v1.0.0-draft.1 as we have completed the milestone. Release process is defined here.

High level deliverables as as follows:

- [x]  Decide on main commit for release
- [x]  Cut branch named v1.0.0-draft.1 based on agreed upon main commit
- [x] Cut a tag named v1.0.0-draft.1
- [x]  Update README.md

/cc @SteveLasker @NiazFK @justincormack @sajayantony

Can the mai

[2021-10-19 09:23] shizhMSFT opened #109 "Inconsistent Description in Signature Specification"
There are some inconsistent descriptions in the signature specification.

In the `Payload` section:
- `descriptor` points to an [OCI image spec descriptor](https://github.com/opencontainers/image-spec/blob/main/descriptor.md). However, it allows `artifactType`, which is from an [ORAS artifact spec descriptor](https://github.com/oras-project/artifacts-spec/blob/main/descriptor.md). The `descriptor`

[2021-10-20 16:49] #109 closed, assigned to nobody

[2021-10-20 23:26] sudo-bmitch opened #112 "As a user of Notation, I want to sign and verify images using distribution-spec 1.0 registries"
I think most of our work has focused on the ORAS artifact-spec work. It would be useful if there's a backwards compatible solution that can sign images on registries without the newer ORAS artifact-spec APIs. Possible options I'm thinking of:

1. Use well known tags, similar to other projects that push a tag with the digest of the artifact being signed and some extension.
2. Push a new Index that

[2021-10-20 23:55] sajayantony commented on #112
~~I think digest pinned deployments will never see an updated scan report if we use the index to constantly append and recompose the images. This was my reason for supporting the first solution here~~

Ok thinking more through that even in the tag based model you need to lookup other tags. I think updating the tag pointing to an  index has a few interesting areas to discuss. Like will pushing an p

[2021-10-21 15:56] sudo-bmitch commented on #112
If the tag points to an index with signatures included in the index, then pushing a new tag with just your image would be an unsigned image. You'd need to go through the same process used to push the previous image of attaching signatures in an index and pushing everything.

[2021-12-01 13:53] sudo-bmitch commented on #104
I think this is now resolved: https://github.com/notaryproject/roadmap/projects/1

[2021-12-02 15:37] sudo-bmitch commented on #112
First pass at comparing the options: https://hackmd.io/FIa5U4xcSV6ccftwCPAZjA

[2021-12-09 18:48] ianjmcm opened #117 "Implement COSE as signing envelope"
I'd like to see Notary v2 support [CBOR Object Signing and Encryption (COSE)](https://datatracker.ietf.org/doc/html/rfc8152) as the signing envelope for content, as it is flexible to support all of the Nv2 signing requirements including [IETF draft specs on support for x.509](https://datatracker.ietf.org/doc/html/draft-ietf-cose-x509-08).

Also, COSE has broader alignments across the industry in C

[2021-12-16 23:36] SteveLasker opened #120 "Feature Branches for Automated Builds"
As end-users start implementing notary, we'd like to avoid them having to build from source to receive pre-release updates.
We could provide them binaries from personal forks, but that's not a very secure solution, particularly for a security project.

This involves two specific items:

1. Having automated builds, based on merges into specific branches. A user could download a specific build, vali

[2021-12-16 23:47] gokarnm commented on #120
LGTM

[2021-12-17 00:03] NiazFK commented on #120
LGTM

[2021-12-17 00:12] sudo-bmitch commented on #120
Should this be an issue for notation?

For pushing compiled code, if you don't want to create releases for every change, the two places I know to ship binaries are in a package (i.e. container image) or as a zip of the artifacts during the build. The former means you'll want an alias or something to avoid typing long docker run commands for every notation CLI. And the latter means downloading ever

[2021-12-17 00:19] SteveLasker commented on #120
I was going to put it in notation, but it really applies to any notary sub-project, so I figured I'd capture it here, and we can update governance, based on the decision.

For the options, I was shooting for a solution where users can simply use a pre-release/feature binary. Container images work in some cases, but not all, or they can complicate the experience.

There is a potential cleanup that

[2021-12-17 03:43] sudo-bmitch commented on #120
I don't have any concerns with building the binary on merges, PRs, or feature branches, lots of GHA workflows do that. It's the distribution of those binaries that gets complicated. So if you plan to do that, I'd spell out that step in more detail.

[2021-12-17 21:15] SteveLasker commented on #120
Can you clarify the concerns?

The plan would simply be to make them available under releases, such as [notation releases](https://github.com/notaryproject/notation/releases),

[2021-12-17 22:30] sudo-bmitch commented on #120
Oh, I'm not sure I've ever seen anyone do that before for individual commits to feature branches. Most of us only cut a release on a tag. Gonna be spammy for anyone that likes to follow major updates to the project.

If you're open to suggestions, I'd recommend `actions/upload-artifact@v2`: https://github.com/actions/upload-artifact
It means users have to drill down in GHA, download a zip, and ext

[2021-12-20 22:42] sajayantony commented on #120
+1 to @sudo-bmitch on not cluttering the release page. This also affects GitHub notifications and would cause a release notification upon merge - https://docs.github.com/en/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications#about-custom-notifications.

[2022-01-14 17:46] SteveLasker opened #123 "Move signature content from a blob to annotations"
Capturing proposal from @justincormack to lift signature data to annotations: https://github.com/justincormack/sign-index

Details to be completed, with an excerpt from Justin:

Annotations in the prototype are
- `org.notaryproject.signature.version` The version of the signing protocol, 0.2 in this prototype. Maybe should
  remove this and have ``org.notaryproject.signature.v1. ...` instead.
- `or

[2022-02-02 21:00] SteveLasker commented on #106
how about: `org.cncf.notary.*`
This follows the annotations convention under the [image manifest](https://github.com/opencontainers/image-spec/blob/main/annotations.md)
It's also aligned with `org.cncf.oras.artifact.*` from [PR #82](https://github.com/oras-project/artifacts-spec/pull/82)

[2022-02-03 23:19] priteshbandi opened #130 "id-kp-codeSigning EKU restriction for signing certificate."
Discuss if we need to enforce id-kp-codeSigning EKU restriction for signing certificate.

----

Recommend removing this requirement, as not all signed artifacts will be "code".

_Originally posted by @briankr-ms in https://github.com/notaryproject/notaryproject/pull/122#discussion_r798210495_

[2022-02-06 19:44] priteshbandi commented on #106
`org.cncf.notary.*` sounds good to me. Is there any legal or any other formality required?

[2022-02-07 18:12] jonjohnsonjr commented on #106
What relationship does notary have to the [Christina Noble Children's Foundation](https://www.cncf.org/)?

[2022-02-08 02:15] shizhMSFT commented on #130
Currently, this EKU is marked as default as in [notation-go-lib](https://github.com/notaryproject/notation-go-lib/blob/v0.7.0-alpha.1/signature/jws/verifier.go#L38-L42).

[2022-02-08 09:23] shizhMSFT commented on #117
COSE is based on CBOR literally, which is conciser and faster than JSON.

Here is an comparison on the encoded structure size (based on [RFC7049 E.6](https://datatracker.ietf.org/doc/html/rfc7049#appendix-E.6)):

[code]

Since CBOR supports byte strings (major type `2`) natively, it does not require `base64` encoding family as in JSON. Thus signatures and certificates, which are in binary forms, c

[2022-02-08 15:20] imjasonh commented on #123
Is there any concern about this approach potentially increasing the size of manifests to an unhealthy degree? I seem to recall that being a source of concern in https://github.com/opencontainers/image-spec/pull/826, which tried to address the same sort of concern about multiplying connections to fetch small blobs.

FWIW, my position remains that multi-hundred-KB, even multiple-single-digit-MB, man

[2022-02-08 18:31] SteveLasker commented on #123
Hi Jason,
I'm fully supportive of annotations and would like to create standards around them so they can be used for indexing and querying across all content the user has access to within the registry. Lifting these as annotations enables generic annotation APIs to query for specific signatures.

Without [rehashing the feedback on 826](https://github.com/opencontainers/image-spec/pull/826#issuecom

[2022-02-08 18:43] imjasonh commented on #123
Thanks, that's helpful context.

I guess my question is, what guarantees the signatures will be short, since that seems to be an implicit assumption?

For example, it's sometimes a feature of signing schemes that signers can also include other metadata they'd like to state and possibly have verifiers verify (e.g., the Git commit SHA the signed image was built from). I don't see that listed above,

[2022-02-08 19:00] SteveLasker commented on #123
Great questions:

This is a challenge. This is one reason I'm supportive of `annotations`, that have an implied length, where `data` carries an implied larger payload. We will have more details for how we manage the aspects of the payload in some updates to the signature spec.

As for violating the assumption, this is why I'd again raise the question of annotation breakers, and manifest main break

[2022-02-15 15:57] ianjmcm commented on #130
id-kp-codeSigning OID is for "signing of downloadable executable code" per RFC5280, we extend this definition to all signable code (contiguous bits) that is executable code or directly impacts executable code (e.g. XML config file is "executable code"). Supply chain metadata claims or additional artifacts that are not executable code must not be signed with certificates that include the id-kp-code

[2022-02-16 05:15] shizhMSFT commented on #117
Here's the prototype plugin [notation-cose](https://github.com/shizhMSFT/notation-cose) for COSE signing and verification.

Using the same key and certificate chain, the COSE signature is much smaller than the JWS signature signing the same content:

- COSE signature: `1263` bytes
- JWS signature: `1808` bytes

[2022-02-17 05:14] gokarnm opened #135 "Add threat model for plugin extensibility"
Tracking issue for adding threat model for [plugin extensibility](https://github.com/notaryproject/notaryproject/pull/124).

[2022-02-18 08:33] imjasonh commented on #123
That's all well and good, but the implication that annotations are short is not spelled out in any spec. https://github.com/opencontainers/image-spec/blob/main/annotations.md makes no mention of assumed or recommended length limits, only:

If your signature spec intends to suggest/recommend/enforce length limits that's fine, but it could also do the same thing with referenced blobs, and inline the

[2022-02-22 19:04] iamsamirzon opened #138 "release notaryproject-1.0.0-draft.2 as part of alpha-2 milestone"
Proposing we release notaryproject-v1.0.0-draft.2 as we have completed the alpha-2 milestone. Release process is defined here.

High level deliverables as as follows:

- [x]  Decide on main commit for release
- [x]  Cut branch named v1.0.0-draft.2 based on agreed upon main commit
- [x]  Cut a tag named v1.0.0-draft.2
- [x]  Update README.md
- [x] [Generate release notes for this repo](https://gith

[2022-02-24 18:05] iamsamirzon commented on #108
Closing this issue.  The system level release notes are at https://github.com/notaryproject/roadmap/blob/main/RELEASENOTES/v2.0.0.alpha-1.MD, and I will update the README.MD file in the roadmap repo as part of alpha-2 release.

[2022-02-24 18:05] #108 closed, assigned to nobody

[2022-02-25 01:38] sajayantony commented on #138
LGTM  /cc @shizhMSFT

[2022-02-25 01:42] sajayantony commented on #138
Candidate commit - [656f08a](https://github.com/notaryproject/notaryproject/commit/656f08a69d5e10564857467d95302e446e1883d1)

[2022-02-28 17:30] #138 closed, assigned to nobody

[2022-03-02 00:16] SteveLasker commented on #117
For folks to review and provide feedback, a doc comparing COSE with other signing formats.
https://docs.google.com/document/d/18YVGA4mq45wfUkWrAqWkymzdHRcXxlwINKXnEp86L0w/edit#

[2022-03-09 19:53] SteveLasker commented on #106
I think what @jonjohnsonjr is trying to say is:

We've been using the logical namespace of org.cncf.notary.* but this is confusing when you consider reverse domains, vs. logical ownership. While I don't think we'll have a true collision with the Christina Noble Chidren's Foundation, it's a good thing to cleanup.

How about `io.cncf.notary`

[2022-03-11 20:19] SteveLasker opened #141 "Proposal: Remove Artifact Expiry"
From [Trust Store and Trust Policy Specification:Artifact Expiry](https://github.com/notaryproject/notaryproject/blob/main/trust-store-trust-policy-specification.md#artifact-expiry)

I'd like to propose we remove this section.
Why:
I'd suggest an artifact doesn't actually expire, or at least this is data that I don't believe we should build into the signature format.

What does expiring an artifac

[2022-03-16 23:50] #106 closed, assigned to nobody

[2022-03-23 11:51] letmaik commented on #95
For SCITT (see [draft spec](https://datatracker.ietf.org/doc/html/draft-birkholz-scitt-architecture-00.html)), the proposal is to use DID both as mechanism to establish issuer identifiers and to do key discovery (via DID resolution), while not being constrained to a single identity system but having extensibility through DID methods. For Notary to support this, signing envelopes would have to incl

[2022-03-24 16:44] iamsamirzon commented on #141
My personal suggestion will be to leave the specification as is and make it an implementation decision.  I think of signature or artifact expiry as a "best if used by" date that a publisher puts on the artifact. It is up to the consumer to decide if they want to do a "hard-fail-open" or "Warn-open" on signature expiry.

In the property example, I agree the sale is not expiring. Same way the contai

[2022-03-24 17:46] SteveLasker commented on #141
The re-sale scenario is a perfect case. When you buy the property, do you know when you'll sell it? Even if you _plan_ to sell in 2 years, will you sell in 2 years, or 2 years and 3 months, or maybe you decide to sell in 5 years.

My point is expiry is not a good practice to create at the time of creation, because it's not a realistic value. It's an estimated value because it was all we had at the

[2022-03-24 22:40] SteveLasker commented on #141
Reviewing the [spec](https://github.com/notaryproject/notaryproject/blob/main/trust-store-trust-policy-specification.md)

      Supported values are `enforce` and `warn`.

We don't have an ignore. Since this property is REQUIRED, it can generate a LOT of noise in the system, hiding more actionable warnings.

My preference is to remove and defer to a more scalable solution for adding information as

[2022-03-25 18:57] SteveLasker opened #144 "Design integration of Trust Stores and Notation Config"
The notation client currently supports `notation cert add` and has a [config spec](https://github.com/notaryproject/notation/blob/main/specs/notation-config.md)
As we add [Trust Stores and policy support](https://github.com/notaryproject/notaryproject/blob/main/trust-store-trust-policy-specification.md), we'll need a design for how these interact.

[2022-03-30 00:40] SteveLasker opened #146 "Update Plug-in spec to support multiple signature formats"
To support multiple signature formats (https://github.com/notaryproject/notaryproject/pull/145) the [plug-in spec](https://github.com/notaryproject/notaryproject/blob/main/specs/plugin-extensibility.md) will need updates to support multiple signature/envelope formats. Specifically, JWT and COSE.

A desired outcome is the plug-in spec would specify a named parameter for what signature format is req

[2022-03-30 00:41] sajayantony commented on #146
/cc @gokarnm

[2022-03-30 21:17] gokarnm commented on #146
The spec already supports multiple envelope format using `signatureEnvelopeType`, in the [Signature Envelope Generator](https://github.com/notaryproject/notaryproject/blob/main/specs/plugin-extensibility.md#signature-envelope-generator) interface. Let me know if any other changes are required.

[code]

[2022-03-31 00:40] SteveLasker commented on #146
@shizhMSFT, can you confirm your question is answered and adding code doesn't change the plug-in spec?

[2022-04-08 20:13] SteveLasker commented on #117
COSE work is progressing nicely within the [cose](https://github.com/notaryproject/notation/tree/cose) branch.
Upstream [go-cose](https://github.com/veraison/go-cose/tree/remote-signing) work is finalizing

[2022-04-22 21:04] #146 closed, assigned to nobody

[2022-04-28 12:09] qmuntal opened #152 "plugins contract: use cli arguments instead of json as input"
The [plugin extensibility spec](https://github.com/notaryproject/notaryproject/blob/main/specs/plugin-extensibility.md#signature-generator) defines the plugin cli input as a json file, such as:

[code]

I'm not convinced that using json as input format is better than just using cli arguments, such as:

[code]

Using plain cli arguments have the following advantages:
- Manually crafting cli argumen

[2022-04-29 03:55] SteveLasker commented on #152
Thanks @qmuntal. We briefly discussed in the Notary v2 meeting today.  @rgnote, @gokarnm and @shizhMSFT were going to review.

[2022-05-02 05:57] gokarnm commented on #152
@qmuntal that is an interesting idea. The think the current approach is more appropriate though as
- The plugin executable is not intended to be a CLI, it is expected to work in conjunction with notation and not execute standalone. We settled on an external executable with stdin/out as request response contract, as a substitute to reflection, or any other dynamic load module and execute feature av

[2022-05-02 10:20] qmuntal commented on #152
Various OS have different limits for command line input (seems to be 32KB on windows and 2MB for linux)
There may be some implications with how easily command line input can be automatically captured and logged vs. stdin/stdout. This is currently not an issue though as we don't pass any sensitive data like raw keys over this channel.

The first drawback is indeed a hard limitation, but do you thin

[2022-05-02 14:48] qmuntal commented on #152
What about this:

[code]

[2022-05-02 18:47] gokarnm commented on #152
The payload for image signing are small, as they are detached from the actual image payload. We want to keep the option open to sign arbitrary payloads in future which are not limited to OCI artifacts.

We won't as part of plugin contract, but we intend to support *pass through config* for plugins, for users to pass additional plugin specific configuration as CLI params or in key config alongside

[2022-05-02 18:57] gokarnm commented on #152
Looks good, I'd additionally include a map for *pass through config* for plugin itself.

[code]

[code]

[2022-05-05 06:05] gokarnm commented on #152
@qmuntal can we close this issue?

[2022-05-13 05:28] gokarnm opened #157 "Clarify Certificate Requirements"
Clarify [certificate requirements](https://github.com/notaryproject/notaryproject/blob/main/signature-specification.md#certificate-requirements) section in signature specification.

* Separate out requirements for signing certs and timestamping certs into different sections.
* Consider if want to specify requirements of other certificates in the chain
* Possibly address EKU restriction for signing

[2022-05-13 06:25] qmuntal commented on #152
Yes!

[2022-05-13 06:25] #152 closed, assigned to gokarnm, shizhMSFT

[2022-05-18 01:41] gokarnm commented on #157
`verifyCertExtKeyUsage` in [spec.go](https://github.com/notaryproject/notation-go/blob/main/signature/jws/spec.go) should be updated once cert requirements are clarified.

[2022-05-26 16:20] iamsamirzon opened #160 "Add new members and groups"
Need a few groups and memberships aligned to ensure frictionless progress.

1. Add new member to the existing project-admin group  https://github.com/orgs/notaryproject/teams/notary-project-admins/members
    - David Tesar (https://github.com/dtzar)
2.  Add new members to the  existing group for "Notation-maintainers" https://github.com/orgs/notaryproject/teams/notation-maintainers
  -  This is th

[2022-05-26 22:48] iamsamirzon commented on #160
@SteveLasker , @NiazFK  - We will like your approval and action on this issue to expand the list of  members and groups as requested in the issue.

[2022-06-02 12:52] sudo-bmitch commented on #112
I'm not sure what 1.1 refers to. Distribution-spec is only at 1.0.1, and the .1 patch I believe is focused on a client side vulnerability.

[2022-06-02 20:34] dtzar opened #161 "Support Docker Trust or equivalent workflow"
**docker trust** [currently works utilizing notary v1](https://docs.docker.com/engine/security/trust/).  We should have an equivalent workflow or support utilizing native **docker** integration with the notary v2 bits.

I realize this crosses a number of specification areas (i.e. trust store, etc).  Would be good flush out the sub-requirements on this issue.

[2022-06-03 13:09] andyfeller commented on #161
@dtzar : have you had a chance to catch up on @SteveLasker and @justincormack [presentation from recent Kubecon and notary v2](https://kccnceu2022.sched.com/event/ytmi/notary-v2-deep-dive-and-open-issues-justin-cormack-docker-steve-lasker-microsoft)?

what from this presentation makes sense to capture in this repository versus living elsewhere?

[2022-06-06 18:05] sajayantony commented on #130
@shizhMSFT we might need to bring this issue up during the call. It hasn't seen much traction.

[2022-06-07 01:32] shizhMSFT commented on #130
@FeynmanZhou We missed this today, and need to bring this up in the next meeting.

[2022-06-17 18:06] SteveLasker commented on #160
LGTM

[2022-06-17 18:10] SteveLasker opened #163 "Add key creation, through the plugin spec"
Various keyvault providers have key vault specific APIs to create their keys.
Rather than have notary/notation understand each key vault provider, Notary follows a [plugin specification](https://github.com/notaryproject/notaryproject/blob/main/specs/plugin-extensibility.md), enabling plugins to define their behavior for sign, without having to engage with the notary maintainers, or ask for approva

[2022-06-22 07:58] shizhMSFT commented on #130
/cc @yizha1

[2022-06-22 22:07] priteshbandi commented on #130
latest spec: https://github.com/notaryproject/notaryproject/blob/main/signature-specification.md#certificate-requirements

[2022-06-24 19:03] dtzar commented on #130
I just checked and [see here that notation-go ](https://github.com/notaryproject/notation-go/blob/52fcb4aae8bc9acf613f0ca77b1fdb9f27831e0c/signature/jws/spec.go#L44-L57) is enforcing a check for the signing bit set.

When I try to go through our tutorial and create a certificate without any EKU set, then I get the error message from there:

[code]

IMO - We should remove this requirement per @ianj

[2022-06-30 00:37] dtzar commented on #160
I believe this is complete now so we can close, right? @SteveLasker @iamsamirzon

[2022-06-30 13:40] iamsamirzon commented on #160
@dtzar  - Could you cross check if the "Code-reviewers" group #3 above was created? Items #1 and #2 were fixed.

[2022-06-30 17:01] NiazFK commented on #160
LGTM

[2022-06-30 17:08] dtzar commented on #160
I added the notation-code-reviewers group: https://github.com/orgs/notaryproject/teams/notation-code-reviewers

However, I cannot add anyone who is not a member of the notaryproject org nor do I have the permissions to invite people to the notaryproject org.  I'm guessing @SteveLasker you'll have to invite the code reviewers listed as members to the org then I can add them there.

<img width="525"

[2022-06-30 19:06] SteveLasker commented on #160
Everyone is now invited

[2022-07-01 17:53] dtzar commented on #160
@rgnote @priteshbandi just need to accept the invite.

Per the last community call @gokarnm said he had a draft for the code-reviewers group WIP he would PR, but IMO I don't think we should hold up on that to close this issue.

@iamsamirzon - we good to close this out now?

[2022-07-01 18:00] SteveLasker commented on #160
I'm ok to close this, as the title is adding new members, and that's done.
We can add another issue for the governance updates, but I don't see that as critical at this point.

[2022-07-06 17:00] dtzar commented on #130
One valid comment which came up during the community call yesterday... is if someone wanted to use notation to sign documents, there is another valid [EKU for document signing](https://datatracker.ietf.org/doc/draft-ietf-lamps-documentsigning-eku/).

[2022-07-06 20:41] gokarnm commented on #160
Can we add contributors from Shiwei's team too, @shizhMSFT could you provide a list?

[2022-07-06 21:19] gokarnm commented on #160
Followed up with @rgnote @priteshbandi , they have accepted the invite.

[2022-07-07 04:42] shizhMSFT commented on #160
@gokarnm Here's the list of my team who are working on notation.
- @binbin-li
- @patrickzheng200
- @Wwwsylvia
- @chloeyin
- @JeyJeyGao

[2022-07-07 05:40] gokarnm commented on #160
@dtzar @SteveLasker , we should add Shiwei's team to the code reviewers group. Good to close this issue after that.

[2022-07-08 06:40] gokarnm commented on #160
@SteveLasker I was not able to assign the [notation-code-reviewers](https://github.com/orgs/notaryproject/teams/notation-code-reviewers) group as a reviewer in PRs, it does not appear in the selection list. Do we need update any configuration?

[2022-07-11 18:15] dtzar commented on #104
I believe we should utilize only the [GitHub Project's beta board](https://github.com/orgs/notaryproject/projects/10/views/7) we now have to track everything, including the roadmap via the milestone assignments. Multiple views can be placed on top of the project board.  We should migrate everything off of the roadmap repo to the individual repos and have "epics" and/or "user stories" with linked i

[2022-07-11 18:26] dtzar commented on #130
Per the discussion on the last call, I believe we came to a consensus that if PR #167 would be implemented, then we could close this out.  Then we'd need to fix any place(s) in the code where we enforce the MUST have code signing EKU...

[2022-07-11 21:37] SteveLasker commented on #160
Invites sent

[2022-07-11 22:38] SteveLasker commented on #160
Closing as the invites are sent. Please re-activate if I've missed something

[2022-07-11 22:43] SteveLasker opened #172 "Add list of notary annotations"
Notary adds several annotations. Would it help to have a single markdown file that lists the annotations, and defines the format?
For instance, we've followed a camelCase formatting of annotations. To avoid new annotations from diverging or new annotations that are duplicative of existing ones, should we document these?

[2022-07-11 23:29] iamsamirzon commented on #104
@dtzar  - I agree with some of the challenges you have highlighted above but do think the roadmap repo serves a purpose that an auto generated project board may not provide.  Specifically, the roadmap repo gives the maintainers and community a widely used pattern to set and provide visibility on the planned features at an epic/high level. A roadmap repo level item/issue typically represents work a

[2022-07-12 18:49] gokarnm commented on #160
@SteveLasker @dtzar I'm not able to assign [notation-code-reviewers](https://github.com/orgs/notaryproject/teams/notation-code-reviewers) as a reviewer of notation PRs. Are we missing something?

[2022-07-12 19:18] dtzar commented on #160
Perhaps the group hasn't been assigned the "read" role yet @SteveLasker ?
https://docs.github.com/en/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization

[2022-07-13 20:26] iamsamirzon commented on #144
@SteveLasker , @dtzar  - This issue should be in Notation, not in notary project, and I believe we have multiple open issues there to track the UX for configuration of trust store and trust policy.  I propose we close this here.

In summary
- The trust store as specified and implemented today with directory structure, does not need configuration for adding/removing certificates for RC-1.
- For sig

[2022-07-13 20:29] iamsamirzon commented on #157
#167  and #166  PR needs approval before this issue can be closed

[2022-07-13 20:31] iamsamirzon commented on #130
@dtzar  - This is a duplicate of #157 . We can close one of them. We need to close out bout #166 and #167 to close both #157 and this one #130

[2022-07-13 20:38] iamsamirzon commented on #157
@gokarnm  -Could you close this issue as this PR is now merged (https://github.com/notaryproject/notaryproject/pull/162).

For the outstanding request of relaxing the EKU, there is a separate issue anyways. https://github.com/notaryproject/notaryproject/issues/130

[2022-07-13 20:56] dtzar commented on #130
157 is a superset including 130.  It seems that everything minus 130 has been resolved in 157.  I would propose to close 157 and keep this one open.

[2022-07-13 21:10] dtzar commented on #144
I think what @SteveLasker is getting at is the design spec on how `notation cert add` interacts with the config / trust stores / policies.  I don't see any relevant item to track this specifically.  Agree though it should be an item in notation, not in notaryproject.

[2022-07-13 21:22] iamsamirzon commented on #144
@dtzar  - I was thinking we can use one of the "user story" items you recently created or this one https://github.com/notaryproject/notation/issues/225.

We can talk more tomorrow with some live color commentary from implementers, but my understanding is that for RC-1 we do not need any CLI commands for Trust store or Trust policy

[2022-07-13 21:33] dtzar commented on #144
I don't think it needs to be present for RC-1 as long as the usability is reasonable.
I just don't think we should close this item out yet as I don't see it as a duplicate of another item per-se.

[2022-07-14 15:24] SteveLasker commented on #117
The first [veraison/go-cose security review is in](https://github.com/veraison/go-cose/blob/main/reports/NCC_Microsoft-go-cose-Report_2022-05-26_v1.0.pdf)

go-cose has also completed an [rc.1 release](https://github.com/veraison/go-cose/releases/tag/v1.0.0-rc.1), only pending 1.0.0 based on implementation verifications.

As a result, we'd like to bring this into current work efforts.

[2022-07-14 15:58] #157 closed, assigned to gokarnm

[2022-07-15 21:07] iamsamirzon commented on #82
Timestamping is now defined in signature spec. This item can be closed.  Refer https://github.com/notaryproject/notaryproject/blob/main/signature-specification.md#unsigned-attributes

[2022-07-15 21:07] #82 closed, assigned to nobody

[2022-07-15 21:11] iamsamirzon commented on #84
Certificate expiry is considered as part of Signature validation in the specs. We can close this item. https://github.com/notaryproject/notaryproject/blob/main/trust-store-trust-policy-specification.md#signature-verification

[2022-07-15 21:11] #84 closed, assigned to nobody

[2022-07-15 21:14] iamsamirzon commented on #85
Closing this lieu of open roadmap items, https://github.com/notaryproject/roadmap/issues/11 and https://github.com/notaryproject/roadmap/issues/12, which are in plan for RC-2

[2022-07-15 21:14] #85 closed, assigned to nobody

[2022-07-15 21:18] iamsamirzon commented on #95
Key discovery/distribution can be done outside of Notary. Additionally, I believe we have discussed, that users can inspect a signature using Notation to start their discovery process.

[2022-07-15 21:21] iamsamirzon commented on #103
Closing, as we have defined the annotations for signature manifest here https://github.com/notaryproject/notaryproject/blob/main/signature-specification.md#storage.

Plus the filtering aspect called out here is a duplicate of https://github.com/notaryproject/notation/issues/63

[2022-07-15 21:21] #103 closed, assigned to nobody

[2022-07-15 21:25] iamsamirzon commented on #123
This is an optimization which can be deferred. This will not be a breaking change if we decide to implement it later.

[2022-07-19 00:00] gokarnm commented on #117
Thanks for sharing the updates @SteveLasker , I've started looking into the external security review and other details.

[2022-07-19 00:05] iamsamirzon commented on #105
Discussed live in a meeting on 7/8/2022 that JWS was the format we agreed on for the initial release, as discussed in the NV2 meeting on 4/28/2022 - https://hackmd.io/_vrqBGAOSUC_VWvFzWruZw?both#April-28-2022

[2022-07-19 00:07] dtzar commented on #105
Discussed on the call the idea of for RC-2 to include a default signing format but have an option to switch to COSE or JWS.  This is covered in other issues, so still good to close this item out.

[2022-07-19 00:07] #105 closed, assigned to priteshbandi

[2022-07-19 00:22] sajayantony commented on #172
I would recommend adding a section to this https://github.com/notaryproject/notaryproject/blob/main/signature-specification.md#storage with annotations.

Also, it is currently a bit confusing since there are annotations in the Payload and annotations in the manifest
https://github.com/notaryproject/notaryproject/blob/main/signature-envelope-jws.md#storage

For all purposes my understanding is that

[2022-07-19 20:56] dtzar commented on #61
@SteveLasker - does this issue still make sense to keep considering we have the e2e scenario with ratify?

[2022-07-19 21:08] SteveLasker commented on #95
Re-opening, as key discovery is a critical component to notary usability. We are currently focusing on the `notation inspect` [notation notaryproject/notation#238](https://github.com/notaryproject/notation/issues/238) command to provide the discovery method, for how to find the public key.

[2022-07-19 21:12] dtzar commented on #95
Steve - I believe we need to fill in more details on 238 because it is currently vague and not connected to this purpose as it is written.  Key discovery is vital for verification of course and we need to make this easy for users and producers.  Simply getting various metadata back about a signature not necessarily important in general, especially considering we have oras.

[2022-07-19 21:14] SteveLasker commented on #95
The focus here is we at least need to know where the public key is located. Then, users can download the public key, configure their trust stores and have an e2e story.  See https://github.com/notaryproject/roadmap/issues/74, and perhaps we can either copy the content from there, or re-use that issue for tracking.

[2022-07-19 22:08] iamsamirzon commented on #95
@SteveLasker  and @dtzar   - I think we are saying the same thing, that some sort of "Signature Inspection" can be used as a method to determine the publisher and the public key. There are already other issues/PR like you both pointed out https://github.com/notaryproject/notation/issues/238 and https://github.com/notaryproject/roadmap/issues/74. So could we close this one as a duplicate?

[2022-07-20 17:43] dtzar commented on #95
I forgot about 172 and I believe this captures the notation flavor/idea intent to implement key discovery.  However - @letmaik's [comment above ](https://github.com/notaryproject/notaryproject/issues/95#issuecomment-1076285953) is worth considering that isn't covered in issue 172.

[2022-07-22 16:36] dtzar commented on #130
Once we merge 167 we can close this.

[2022-07-23 00:12] dtzar commented on #104
After further consideration and discussion with @iamsamirzon, @yizha1, @FeynmanZhou we have come to a consensus.  We can keep the roadmap repo to have a centralized, controlled place, to help illustrate higher-level objectives which deliver value to users.  Any of the implementation issues (specs, coding, etc) will be created in the associated repos (notation, notation-go, notation-core-go, notary

[2022-07-23 00:12] #104 closed, assigned to nobody

[2022-07-25 12:59] yizha1 commented on #81
@SteveLasker recommend closing this issue since signature expiry is already documented in spec https://github.com/notaryproject/notaryproject/blob/main/trust-store-trust-policy-specification.md

[2022-08-03 17:20] dtzar commented on #160
FYI @iamsamirzon @gokarnm @rgnote.  I resolved this with Steve yesterday.  You can now assign the notation-code-reviewers group to any of the notation repos.

[2022-08-03 17:20] #160 closed, assigned to NiazFK

[2022-08-03 17:22] dtzar commented on #161
Docker extension for notary is an option.  There was a [POC here](https://github.com/notaryproject/notation/pull/269), but wanted to remove it since it wasn't currently under active development.

[2022-08-03 17:31] dtzar commented on #70
@iamsamirzon @SteveLasker @FeynmanZhou @yizha1
I propose we close roadmap issues like this one and these below since the roadmap repo should be covering this.  This notaryproject repo can be for proposed high-level spec/designs/scenarios before they are a user story notation* implements.

1. https://github.com/notaryproject/notaryproject/issues/52
2. https://github.com/notaryproject/notaryproject/

[2022-08-03 17:39] dtzar commented on #77
Closing this out since we do have a [formal governance document](https://github.com/notaryproject/notary/blob/master/GOVERNANCE.md).  If you'd like to get involved in the project as a maintainer for notary v2 (notation), showing up meet twice a week on the community calls is a good start.

[2022-08-03 17:39] #77 closed, assigned to nobody

[2022-08-03 17:39] dtzar commented on #55
Pretty sure we've covered the original ask of this issue, so closing out.  If you feel you still need more information @dlorenc let us know.

[2022-08-03 17:39] #55 closed, assigned to nobody

[2022-08-03 18:57] dtzar commented on #81
Agreed.  @SteveLasker if you think we still need this or something different with expiry in the spec, I suggest opening a more detailed issue to address.

[2022-08-03 18:57] #81 closed, assigned to yizha1

[2022-08-05 09:41] FeynmanZhou commented on #70
@dtzar Why not transfer these issues to the Roadmap repo? I think they are still under discussion.

[2022-08-05 15:45] iamsamirzon commented on #70
@dtzar  - I am aligned with you to close these items highlighted above . But before we move them as is in the roadmap repo, lets see if these are still needed as is, or should we close them and create net new in roadmap repo with the desired feature. I believe we have already implemented these items.

[2022-08-05 17:55] dtzar commented on #70
I agree there is some value in extracting the missing ideas/features from the 1-3 items into the roadmap repo.  As you mentioned Samir, some of the things have been implemented or may not make sense at this time.

This particular issue we're commenting in I don't see any merit in.

I also don't like the idea of any "RC" milestone or dates being listed in the notaryproject repo.  This repo should j

[2022-08-05 19:02] dtzar opened #182 "Signature Local storage specification"
Add specification on how signatures should be stored in a local filesystem. The [current signature specification] (https://github.com/notaryproject/notaryproject/blob/main/signature-specification.md) doesn't define this - only focus is on storage in an OCI compliant registry.

[2022-08-10 23:23] iamsamirzon commented on #86
@dtzar , Closing as the signature spec is merged and available here. https://github.com/notaryproject/notaryproject/blob/main/signature-specification.md

[2022-08-10 23:23] #86 closed, assigned to shizhMSFT, FeynmanZhou, yizha1

[2022-08-10 23:23] iamsamirzon commented on #99
@dtzar , Closing as the signature spec is merged and available here. https://github.com/notaryproject/notaryproject/blob/main/signature-specification.md

[2022-08-10 23:23] #99 closed, assigned to shizhMSFT, FeynmanZhou, yizha1

[2022-08-10 23:40] iamsamirzon commented on #163
@SteveLasker , @dtzar  - Shouldn't we keep the key creation outside of Notation. I agree the Notation should somehow refer to those keys that are used for signing , but the creation scan itself be outside of Notation.

cc: @gokarnm

[2022-08-11 14:40] iamsamirzon opened #183 "Release a new version of Notary V2 specification"
It's time to release a new version of the Notary v2 spec

- [x] Decide on main commit for this release   - **_Using the latest mainline of "notaryproject" for  RC-1_**
- [x] Decide on a tag name for this release  - v1.0.0-rc.1
- [] Cut branch named with the tag name based on agreed upon main commit -  **_No need for a branch at this time_**
- [x] Cut a tag v1.0.0-rc.1

@gokarnm @dtzar @SteveLasker

[2022-08-15 16:32] dtzar commented on #163
What Steve is referring to here though is the core plugin capability being available for `notation cert generate`.  Agree the code to get the cert from the plugin provider should be in the plugin.

[2022-08-15 18:21] SteveLasker commented on #163
Yes to both. It's really a matter of enabling the user to ask for a new key, through `notation`, but the actual implementation be done through the specific plug-in

[2022-08-15 21:17] gokarnm commented on #163
The details of key creation, and its prerequisites are specific to each provider. Key creation may be done by a different persona, outside of the signing workflow, using provider specific tools/APIs, and may involve setting up polices for key access and rotation. It would be preferable to create keys outside notation and only use it for signing within the tool.
Adding support for key creation can

[2022-08-15 21:42] SteveLasker commented on #163
Simply looking to keep the getting started process easy, and let the complex be complex.
How many different tools would a user need to get started?

[2022-08-15 22:23] dtzar commented on #163
@gokarnm - I think it's fair to keep out of scope read/update/delete here since the command we're targeting is `notation cert generate` and the target user scenario is as Steve mentioned an easier getting started experience which uses a production-ready centralized/provider cert.

It would make sense if we could use the same plugin system already there (i.e. one AWS plugin or one Azure plugin), bu

[2022-08-18 14:25] iamsamirzon commented on #163
@dtzar , @gokarnm  - should the notation cert generate be independent of the plugin, in other words, built as part of the notation client itself? This way users have an even easier getting started experience and the keys can be kept locally on the host.

[2022-08-18 17:51] dtzar commented on #163
It certainly would be a better user experience to not have to download a plugin to get a cert from the provider, but that said then you introduce a ton of dependencies into notation cli itself for every provider who wants to integrate and you lose the agility/speed to update releases of the integration independently.

An idea might be to make the installation of the plugin super simple and embed t

[2022-08-22 02:53] yizha1 commented on #112
This issue is related to distribution-spec for OCI Artifact update.

[2022-08-25 07:47] yizha1 commented on #120
Closed by https://github.com/notaryproject/notation/pull/149.

[2022-08-25 07:47] #120 closed, assigned to nobody

[2022-08-26 15:19] SteveLasker commented on #62
Closing as validations are being done as other efforts like ratify

[2022-08-26 15:19] #62 closed, assigned to nobody

[2022-08-29 08:38] shizhMSFT opened #189 "Inconsistent Signing Workflow"
There is a conflict in the signing workflow.
- [signing-and-verification-workflow.md](https://github.com/notaryproject/notaryproject/blob/v1.0.0-draft.3/signing-and-verification-workflow.md#signing-steps) verifies the certificate chain **before** signing (steps _1.i_ and _1.iii_).
- [specs/plugin-extensibility.md](https://github.com/notaryproject/notaryproject/blob/v1.0.0-draft.3/specs/plugin-exte

[2022-08-30 00:20] rgnote commented on #189
I think [signing-and-verification-workflow.md](https://github.com/notaryproject/notaryproject/blob/v1.0.0-draft.3/signing-and-verification-workflow.md#signing-steps) was written with local signing in mind and [specs/plugin-extensibility.md](https://github.com/notaryproject/notaryproject/blob/v1.0.0-draft.3/specs/plugin-extensibility.md#signing-workflow-using-plugin) was written for remote signing.

[2022-08-30 05:56] JeyJeyGao opened #190 "Update directory structure related specs"
According to [directory structure spec](https://github.com/notaryproject/notation/blob/main/specs/directory.md), documents related to directory structure should be updated.
1. [plugin-extensibility](https://github.com/notaryproject/notaryproject/blob/cose-envelope/specs/plugin-extensibility.md) spec
2. [hello-signing](https://github.com/notaryproject/notation/blob/main/docs/hello-signing.md)

[2022-09-01 02:37] iamsamirzon opened #192 "Relax the certificate chain requirement for wider use case coverage"
To support additional use cases as outlined below, the certificate chain requirement imposed by the merge of https://github.com/notaryproject/notaryproject/pull/162 should be relaxed to allow for a certificate chains of any length Vs the current limit of 2.

**Desired outcome**
The notary signature-specification is updated to support the following use cases
1. Self Signed certificates

[2022-09-01 11:55] yizha1 commented on #192
@iamsamirzon  Since #162 was  done by @priteshbandi and @gokarnm, I would suggest Milind to update the spec and Pritesh to implement the fix based on the spec.

[2022-09-19 16:11] vaninrao10 commented on #163
As discussed in the community meeting "09/15" to be moved to Post RC1.

[2022-09-21 04:23] priteshbandi commented on #192
Merged https://github.com/notaryproject/notaryproject/pull/193 and https://github.com/notaryproject/notation-core-go/pull/72

[2022-09-21 04:23] #192 closed, assigned to priteshbandi

[2022-09-21 04:51] yizha1 commented on #192
I think the 2nd PR should be https://github.com/notaryproject/notation-core-go/pull/77

[2022-10-05 07:32] priteshbandi commented on #130
PR: https://github.com/notaryproject/notation-core-go/pull/86

[2022-10-06 16:42] dtzar commented on #72
On the community call today, there are several places where this is in the documents which need consolidation.  Also the https://github.com/notaryproject/notaryproject/blob/main/key-revocation.md seems like it should be more of certificate revocation, not "keys".  For RC-1 we need to just finalize the spec in an agreed upon md document.  The [hack md doc](https://hackmd.io/2rc07WwHTdmPjpgoMbvYfA?v

[2022-10-13 16:57] #117 closed, assigned to shizhMSFT

[2022-10-17 04:17] #130 closed, assigned to priteshbandi

[2022-11-02 11:20] priteshbandi opened #196 "Update TrustStore and TrustPolicy spec for signingAuthority support."
https://github.com/notaryproject/notaryproject/blob/main/trust-store-trust-policy-specification.md#trust-store

[2022-11-04 02:06] patrickzheng200 opened #198 "COSE signingTime/authenticSigningTime/expiry type"
Currently in our spec, we require [signingTime/authenticSigningTime/expiry](https://github.com/notaryproject/notaryproject/blob/cose-envelope/signature-envelope-cose.md#protected-header) to be of type uint.
This caused a verification failure where the signature envelope's signingTime is of type `Tag1: datetime`, this is defined in [CBOR RFC 3.4.2](https://datatracker.ietf.org/doc/html/rfc8949#sect

[2022-11-04 12:23] yizha1 commented on #198
Notation need to align with rfc compliant signingTime, which will make notation broadly accepted.

[2022-11-04 12:24] yizha1 commented on #198
PR for updating the spec: https://github.com/notaryproject/notaryproject/pull/199

[2022-11-08 02:15] JeyJeyGao opened #200 "Inconsistent spec"
The name of signing scheme x509 in [plugin spec](https://github.com/notaryproject/notaryproject/blob/main/specs/plugin-extensibility.md#verify-signature-command) and [signing scheme spec](https://github.com/notaryproject/notaryproject/blob/main/specs/signing-scheme.md#signature-creation) are not consistent.

In plugin spec: {"signingScheme" : "notary.default.x509"}
In signing scheme spec: {"signin

[2022-11-09 10:05] yizha1 opened #201 "Update plugin spec to support extended attributes"
I raised [this PR](https://github.com/notaryproject/notation-go/pull/188/files) to unblock JWS signatures. Please raise a PR for spec updates once you have an idea on how verification plugins needs to deal with COSE extended attributes

_Originally posted by @rgnote in https://github.com/notaryproject/notation-core-go/issues/88#issuecomment-1306533766_

This issue is to address how [plugin spec](h

[2022-11-09 11:09] yizha1 opened #202 "spec: update signature spec for OCI artifact"
This issue is to update [signature-specification](https://github.com/notaryproject/notaryproject/blob/main/specs/signature-specification.md) for `Notary v2` to use [OCI artifact manifest](https://github.com/opencontainers/image-spec/blob/v1.1.0-rc2/artifact.md) to store the signature in the registry.

For registries don't support OCI artifact manifest, need to decide whether notation needs to fall

[2022-11-10 11:25] yizha1 commented on #198
Closed as spec was updated

[2022-11-10 11:25] #198 closed, assigned to patrickzheng200, yizha1

[2022-11-15 02:21] yizha1 commented on #202
Per community discussion, the scenario `fallback to OCI image manifest` will be put in rc.2. Only using OCI artifact manifest to store the signatures in rc.1. I will create a new issue for rc.2. This issue focus on rc.1 scenario.

@priteshbandi @toddysm @shizhMSFT

[2022-11-15 03:49] yizha1 commented on #202
Issue created for rc.2 https://github.com/notaryproject/notation/issues/444

[2022-11-17 21:51] SteveLasker opened #207 "Change artifactType for Notary signatures to use application/cose when COSE is chosen"
## Backgrond
Early in notation development we chose `JWS` as a placeholder until we could unify on an existing signature standard. We were discussing PKCS7 but there weren't enough supporting libraries. We ultimately chose [COSE](https://datatracker.ietf.org/doc/rfc8152/), although it was felt too late to switch entirely. Thus the current specs support both JWS and COSE.

Now that notation has `CO

[2022-11-17 23:47] gokarnm commented on #207
The underlying signature format can be JWS or COSE, both of which are it's based on a Notary v2 specification, which dictates the payload to be signed and the headers to be used. It's unclear how changing `artifactType` to generic `application/cose` media type which implies any COSE signature, not the specific Notaty v2 defined COSE signature helps. Also, what would the value of `artifactType` be

[2022-11-17 23:50] SteveLasker commented on #207
Thanks @gokarnm,
The JWS format was a unique to notary implementation, as a placeholder, while we built on an existing standard. So, I'm not suggesting we change the `artifactType` when using JWS, as that _is_ notary specific. What I'm suggesting is we change to `application/cose` when we're using the COSE format.

[2022-11-17 23:58] gokarnm commented on #207
JWS is not a placeholder, it's an approved Notary v2 signature format based on an existing standard. Both JWS and COSE are supported in an interchangeable way. For verification, notation will query all signatures of type `application/vnd.cncf.notary.signature` and process them irrespective of them being JWS or COSE. Could you detail the rationale for this change? How do you propose `notation verif

[2022-11-18 00:50] SteveLasker commented on #207
JWS was a placeholder, that we decided we needed to include, because we needed time to get security reviews of go-cose. I'm not suggesting we pull it out, rather just pointing out this is a path forward to avoid notary specific formats.

For verification, notary can query signatures that support `application/vnd.cncf.notary.signature` or `application/cose` and process them.

From above:

The stand

[2022-11-18 02:52] yizha1 opened #208 "Determine the organization that the signer represents at the signing time"
What's the motivation behind this? can we remove it from spec and open it as issue for discussion ?

_Originally posted by @priteshbandi in https://github.com/notaryproject/notaryproject/pull/148#discussion_r1025647609_

Explained by @shizhMSFT
"
The motivation is that the signing key of a signer may have multiple organizations associated. How to determine which organization that the signer repres

[2022-11-18 18:52] toddysm commented on #207
The meaning of `application/cose` will be that every other client (different from Notary and not implemented according to the Notary specification) will be able to pull the signature and validate it. Is this the expectation @SteveLasker?

@gokarnm are you saying that this is not the case and clients need to be aware of Notary specific to understand the signature, hence we should not use it?

[2022-11-18 20:16] SteveLasker commented on #207
Yes, the power of interoperability, leaning into COSE as the signature format.  Notation is one of many clients that can generate a COSE signature.

[2022-11-19 00:29] michaelb990 commented on #207
This feels like the most important part. JWS & COSE are implementation options for Notary V2 signatures and we can differentiate between them in the blob descriptor. Presumably, a COSE signature generated by something other than `notation` would be somewhat useless to a `notation` client. Maybe it would help if you explained more about what use case you have in mind. If you want to build a client

[2022-11-21 03:38] gokarnm opened #210 "h"

[2022-11-21 03:39] gokarnm commented on #210
Closing this issue which was created by mistake.

[2022-11-21 03:39] #210 closed, assigned to nobody

[2022-11-21 18:15] rchincha commented on #207
In the order of peeling the onion ...
Also, imho, why a "best practices" guide lacking for various specs (artifacts, dist-spec, etc)

[2022-11-22 00:16] vaninrao10 commented on #72
Current Draft version is what will be considered in RC-1, this has been aligned in the community call as of 11/21/2022

[2022-11-22 07:32] yizha1 commented on #83
@gokarnm @priteshbandi @vaninrao10 Could you please check whether anything else left from rc.1 besides the CLI command to manage trust policy.

[2022-11-22 07:41] yizha1 commented on #144
The command of `notation cert add` is now defined here https://github.com/notaryproject/notation/blob/main/specs/commandline/certificate.md, which is using CLI to manage the trust store.

[2022-11-22 08:38] #202 closed, assigned to yizha1

[2022-11-30 12:44] sudo-bmitch commented on #207
This assumes the payload of a COSE signature is the same regardless of the tool used to create it. To give a more obviously bad example, shipping an SBOM with an artifactType `application/json` doesn't tell me if it's a SPDX, cycloneDX, or maybe something that isn't even an SBOM. We should avoid referring to the payload by the packaging format, since other tools may ship completely different paylo

[2022-11-30 16:55] #71 closed, assigned to nobody

[2022-11-30 16:55] iamsamirzon commented on #71
Closing this old issue, as it is covered by https://github.com/notaryproject/notaryproject/issues/183